/**
 * =============================================================================
 * Cross production navigation
 * =============================================================================
 *
 * This file deals with:
 *  * the navigation down the right hand side of each page (top on smaller
 *    screens) that takes you between products.
 */

/*
#cross-product-navigation {
  width: 700px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -350px;
}

#cross-product-navigation > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#cross-product-navigation li {
  width: 60px;
  float: left;
  background-color: rgb(100,100,100);
}
*/