  
  <div style="clear:both"></div>
 
  <section id="footer">
<a href="http://www.oup.com/" target='_blank'><section class="owl"></section></a>
  </section>
   
  <section id="bottom-links">
     <ul>
      <li><a title="Visit the Oxford Owl home page" href="/for-home">Home</a>
<span class="divider">|</span>
</li>
      <li><a title="Reading" href="/home/reading-owl/reading">Reading</a>
<span class="divider">|</span>
</li>
      <li><a title="Maths" href="/home/maths-owl/maths">Maths</a>
<span class="divider">|</span>
</li>
          <li><a title="Help" href="/home/siteurlhelp">Help and Feedback</a>
<span class="divider">|</span>
</li>
    <li><a title="Read our Privacy Policy" href="http://global.oup.com/privacy" target="_blank">Privacy Policy</a>
<span class="divider">|</span>
</li>
      <li><a title="Read our Legal Notice" href="http://global.oup.com/legal" target="_blank">Legal Notice</a>
<span class="divider">|</span>
</li>
      <li><a title="Read our Cookie Policy" href="http://global.oup.com/cookiepolicy/?siteid=oxfordowl" target="_blank">Cookie Policy</a>
<span class="divider">|</span>
</li>

      <li>© Copyright Oxford University Press 2014</li>
</ul>
  </section>

      <div class="push"></div>
    </section>
  <footer id="global-footer" data-snippet="global_gel_footer">
      <div class="container">
        <nav id="footer-legal-links">
          <ul class="navigation-list horizontal-navigation-list">
            <li class="navigation-list-item"><a href="http://global.oup.com/privacy">Privacy Policy</a></li>
            <li class="navigation-list-item"><a href="http://global.oup.com/legal">Legal Notice</a></li>
            <li class="navigation-list-item"><a href="http://global.oup.com/cookiepolicy/?siteid=oxfordowl">Cookie Policy</a></li>
          </ul>
        </nav>
        <p id="copyright-notice">&copy; Copyright Oxford University Press 2014</p>
      </div>
</footer>

