<div class="row-fluid">
	<div class="span4">
		<div class="resource">
			<div class="resource-image">
				<img src="http://cdn.oxfordowl.co.uk/2015/11/19/14/36/17/257/super_magic_happy_forest.jpg" alt="">
			</div>

			<div class="resource-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac hendrerit tortor. Fusce nulla sem, tincidunt et accumsan tincidunt, fringilla a dolor. Vestibulum faucibus vitae metus a mattis. In odio nunc, iaculis vitae eros sit amet, lacinia pulvinar nunc. Nulla in ante id purus luctus pharetra eget vitae nulla. Sed at sem nunc. Praesent tincidunt, nunc et ornare maximus, dolor purus dignissim nulla, eu molestie nunc eros vitae arcu. Duis neque dolor, eleifend eu pulvinar vitae, imperdiet in ipsum. </p>
			</div>

		</div>
	</div>
	<div class="span4">
		<div class="resource">
			<div class="resource-image">
				<img src="http://cdn.oxfordowl.co.uk/2015/11/19/14/36/17/257/super_magic_happy_forest.jpg" alt="">
			</div>

			<div class="resource-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac hendrerit tortor. Fusce nulla sem, tincidunt et accumsan tincidunt, fringilla a dolor. Vestibulum faucibus vitae metus a mattis. In odio nunc, iaculis vitae eros sit amet, lacinia pulvinar nunc. Nulla in ante id purus luctus pharetra eget vitae nulla. Sed at sem nunc. Praesent tincidunt, nunc et ornare maximus, dolor purus dignissim nulla, eu molestie nunc eros vitae arcu. Duis neque dolor, eleifend eu pulvinar vitae, imperdiet in ipsum. </p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="resource">
			<div class="resource-image">
				<img src="http://cdn.oxfordowl.co.uk/2015/11/19/14/36/17/257/super_magic_happy_forest.jpg" alt="">
			</div>

			<div class="resource-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac hendrerit tortor. Fusce nulla sem, tincidunt et accumsan tincidunt, fringilla a dolor. Vestibulum faucibus vitae metus a mattis. In odio nunc, iaculis vitae eros sit amet, lacinia pulvinar nunc. Nulla in ante id purus luctus pharetra eget vitae nulla. Sed at sem nunc. Praesent tincidunt, nunc et ornare maximus, dolor purus dignissim nulla, eu molestie nunc eros vitae arcu. Duis neque dolor, eleifend eu pulvinar vitae, imperdiet in ipsum. </p>
			</div>
		</div>
	</div>
</div>

 