<div class="row">

		<div class="resource span4 video">
			<div class="resource-image">
				<a href="/home/reading-site/find-a-book/storyteller-videos/stage9-part1" class="open-in-lightbox-iframe"><img src="http://cdn.oxfordowl.co.uk/2015/11/20/16/46/26/221/video_1.png" alt="East of the Sun, West of the Moon – part 1"></a>
			</div>
         <div class="resource-category"><span>Video</span></div>
			<div class="resource-text">
				<h2>East of the Sun, West of the Moon – part 1</h2>
				<p>A wintery tale told by professional storyteller, Chip Colquhoun. Gather round and hear about Astrid’s adventures with a polar bear!</p>
			</div>
			<div class="resource-footer">
				<a href="/home/reading-site/find-a-book/storyteller-videos/stage9-part1" class="open-in-lightbox-iframe download-link">Watch</a>
			</div>
		</div>

		<div class="resource span4 make-your-own">
			<div class="resource-image">
				<a target="_blank" href="http://cdn.oxfordowl.co.uk/2015/11/19/12/16/05/535/christmas_card_oxford_owl.pdf"><img src="http://cdn.oxfordowl.co.uk/2015/11/20/15/50/40/882/xmas_card.png" alt="Colour in Oxford Owl Christmas Card"></a>
			</div>
			<div class="resource-category"><span>Make your own</span></div>
			<div class="resource-text">
				<h2>Colour in Oxford Owl Christmas Card</h2>
				<p>An Owl in a pear tree! Have fun colouring in this Christmas Oxford Owl.</p>
			</div>
			<div class="resource-footer">
				<a target="_blank" href="http://cdn.oxfordowl.co.uk/2015/11/19/12/16/05/535/christmas_card_oxford_owl.pdf" class="download-link">Download</a>
			</div>
		</div>

		<div class="resource span4 recipe">
			<div class="resource-image">
				<a target="blank" href="http://d1339901mr5ktx.cloudfront.net/2015/11/20/14/54/26/687/melting_snowman_cookies_oxford_owl.pdf"><img src="http://d1339901mr5ktx.cloudfront.net/2015/11/16/15/49/25/540/you_make_me_smile.jpg" alt="Melting snowman cookies"></a>
			</div>
			<div class="resource-category"><span>Recipe</span></div>
			<div class="resource-text">
				<h2>Melting snowman cookies</h2>
				<p>No-bake festive treats, perfect for making with very young children.</p>
			</div>
			<div class="resource-footer">
				<a target="blank" href="http://d1339901mr5ktx.cloudfront.net/2015/11/20/14/54/26/687/melting_snowman_cookies_oxford_owl.pdf" class="download-link">Download</a>
			</div>
		</div>

		<div class="resource span4 make-your-own">
			<div class="resource-image">
				<a target="blank" href="http://d1339901mr5ktx.cloudfront.net/2015/11/20/14/52/21/222/make_your_own_snow_globe_oxford_owl.pdf"><img src="http://cdn.oxfordowl.co.uk/2015/11/19/14/36/15/220/lucy.jpg" alt="Make your own snow globe"></a>
			</div>
			<div class="resource-category"><span>Make your own</span></div>
			<div class="resource-text">
				<h2>Make your own snow globe</h2>
				<p>Incredibly simple to make, these look great as part of a Christmas centrepiece.</p>
			</div>
			<div class="resource-footer">
				<a target="blank" href="http://d1339901mr5ktx.cloudfront.net/2015/11/20/14/52/21/222/make_your_own_snow_globe_oxford_owl.pdf" class="download-link">Download</a>
			</div>
		</div>

		<div class="resource span4 make-your-own">
			<div class="resource-image">
				<a target="_blank" href="http://cdn.oxfordowl.co.uk/2015/11/19/12/17/03/377/snowman_decoration_oxford_owl.pdf"><img src="http://cdn.oxfordowl.co.uk/2015/11/20/15/50/40/832/make_me_smile.png" alt="Snowman Christmas decoration"></a>
			</div>
			<div class="resource-category"><span>Make your own</span></div>
			<div class="resource-text">
				<h2>Snowman Christmas decoration</h2>
				<p>This cheery Snowman for All Seasons will brighten up any window or Christmas tree.</p>
			</div>
			<div class="resource-footer">
				<a target="_blank" href="http://cdn.oxfordowl.co.uk/2015/11/19/12/17/03/377/snowman_decoration_oxford_owl.pdf" class="download-link">Download</a>
			</div>
		</div>

		<div class="resource span4 recipe">
			<div class="resource-image">
				<a target="blank" href="http://d1339901mr5ktx.cloudfront.net/2015/11/20/14/53/39/1/snowcovered_gingerbread_trees_oxford_owl.pdf"><img src="http://cdn.oxfordowl.co.uk/2015/11/19/14/36/16/450/nixie.jpg" alt="Snow-covered gingerbread trees"></a>
			</div>
         <div class="resource-category"><span>Recipe</span></div>
			<div class="resource-text">
				<h2>Snow-covered gingerbread trees</h2>
				<p>Gingerbread trees that are fun to make and decorate and even more fun to eat!</p>
			</div>
			<div class="resource-footer">
				<a target="blank" href="http://d1339901mr5ktx.cloudfront.net/2015/11/20/14/53/39/1/snowcovered_gingerbread_trees_oxford_owl.pdf" class="download-link">Download</a>
			</div>
		</div>

		<div class="resource span4 video">
			<div class="resource-image">
				<a href="/home/reading-site/find-a-book/storyteller-videos/stage9-part2" class="open-in-lightbox-iframe"><img src="http://cdn.oxfordowl.co.uk/2015/11/20/16/46/27/277/video_2.png" alt="East of the Sun, West of the Moon – part 2"></a>
			</div>
         <div class="resource-category"><span>Video</span></div>
			<div class="resource-text">
				<h2>East of the Sun, West of the Moon – part 2</h2>
				<p>In part 2 of this enchanting story, we find out what happens to Astrid and the Prince.</p>
			</div>
			<div class="resource-footer">
				<a href="/home/reading-site/find-a-book/storyteller-videos/stage9-part2" class="open-in-lightbox-iframe download-link">Watch</a>
			</div>
		</div>

</div>

 