 <header id="global-masthead" role="banner">
  <div class="masthead-row for_home" id="masthead-top">
    <div id="masthead-inner">
      <h1>Oxford Owl</h1>
      <a alt="My Homepage" href="/" id="title-bar-home-icon"></a>
      <a class="logout-link" href="/primary/logout">Log out</a>
      <ul class="menu dropdown-menu platform-menu profile-menu">
        <li class="menu-item">
          
  <h2 class="help-menu-header default-help-link">
    <a href="/home/siteurlhelp">Help</a>
  </h2>

        </li>
        <li class="menu-item">
          

  <h2 class="user-menu-header">
    Hello <span class="username"> OUP Operator</span>
  </h2>

  <ul class="menu sub-menu user-menu">
    <li class="menu-item"><a href="/profile">My Profile</a></li>
      <li class="menu-item"><a href="/staff">Manage staff access</a></li>
      <li class="menu-item"><a href="/class">Create class logins</a></li>
      <li class="menu-item"><a href="/school">My School</a></li>
  </ul>


        </li>
      </ul>
    </div>
  </div>
</header>

    <section class="container" role="main">
        <section id="main" data-snippet="Reading Layout 2">
  <section id="header">
    <a href="/for-home" class="home-link">&nbsp;</a>
    <section id="goto-maths">
      <p><a class="image-link" href="/for-home/maths-owl/maths"><img title="Goto Maths" alt="Goto Maths" src="http://assets.oxfordowl.co.uk/2013/07/18/16/09/58/24/goto_maths.png" width="129" height="32" /></a></p>
    </section>
    <section id="search">
      <div class="search-website" data-snippet="book_search">
  <a href="#" class="label active">Search this website</a>
  <form action="/search-results">
    <input value="website" style="display: none;" name="type">
    <input value="" placeholder="Enter keyword..." class="search" name="query">
    <input type="submit" id="submit-website-search">
  </form>
</div>

<div class="search-book">
  <a href="#" class="label">Quick book search</a>
  <form action="/home/reading-site/find-a-book/library-page">
    <input value="book" style="display: none;" name="type">
    <input value="" style="display: none;" name="view">
    <input value="" placeholder="Enter keyword..." class="search" name="query">
    <input type="submit" id="submit-book-search">
  </form>
</div>
    </section>
    <section id="main-menu">
        <ul class="reading-site fun-ideas menu dropdown-menu">
    <li class="menu-item reading ">
  <a href="/welcome-back/for-home/reading-owl/reading">Reading</a>
</li>
<li class="menu-item top-tips ">
  <a href="/welcome-back/for-home/reading-owl/top-tips--3">Top tips</a>
</li>
<li class="menu-item find-a-book ">
  <a href="/welcome-back/for-home/reading-owl/find-a-book">Find a book</a>
</li>
<li class="menu-item fun-ideas selected current-menu-item">
  <a href="/welcome-back/for-home/reading-owl/fun-ideas">Fun ideas</a>
</li>
<li class="menu-item at-school ">
  <a href="/welcome-back/for-home/reading-owl/at-school">At school</a>
</li>
<li class="menu-item expert-help ">
  <a href="/welcome-back/for-home/reading-owl/expert-help">Expert help</a>
</li>
<li class="menu-item kids-barn ">
  <a href="/welcome-back/for-home/reading-owl/kids-barn">Kids&#39; Barn</a>
</li>
  </ul>

    </section>
  </section>