<!-- Resource video -->
<div class="span4">
    <div class="resource video">
        <div class="resource-image">
            <a href="/home/reading-site/find-a-book/storyteller-videos/stage9-part2" class="open-in-lightbox-iframe"><img src="http://cdn.oxfordowl.co.uk/2015/11/20/16/46/27/277/video_2.png" alt="East of the Sun, West of the Moon – part 2"></a>
        </div>
        <div class="resource-category"><span>Video</span></div>
        <div class="resource-text">
            <h2>East of the Sun, West of the Moon – part 2</h2>
            <p>In part 2 of this enchanting story, we find out what happens to Astrid and the Prince.</p>
        </div>
        <div class="resource-footer">
            <a href="/home/reading-site/find-a-book/storyteller-videos/stage9-part2" class="open-in-lightbox-iframe download-link">Watch</a>
        </div>
    </div>
</div>

<!-- standard resource -->
<div class="span4">
    <div class="resource make-your-own">
        <div class="resource-image">
            <a target="_blank" href="http://cdn.oxfordowl.co.uk/2015/11/19/12/16/05/535/christmas_card_oxford_owl.pdf"><img src="http://cdn.oxfordowl.co.uk/2015/11/20/15/50/40/882/xmas_card.png" alt="Colour in Oxford Owl Christmas Card"></a>
        </div>
        <div class="resource-category"><span>Make your own</span></div>
        <div class="resource-text">
            <h2>Colour in Oxford Owl Christmas Card</h2>
            <p>An Owl in a pear tree! Have fun colouring in this Christmas Oxford Owl.</p>
        </div>
        <div class="resource-footer">
            <a target="_blank" href="http://cdn.oxfordowl.co.uk/2015/11/19/12/16/05/535/christmas_card_oxford_owl.pdf" class="download-link">Download</a>
        </div>
    </div>
</div>