.book-green{
	background-color: $book-happy;
}

.book-orange{
	background-color: $book-dog;
}

.book-pink{
	background-color: $book-winnie;
}

.book-blue-light{
	background-color: $book-wonderful;
}

.book-yellow{
	background-color: $book-smile;
}

.book-nixie{
	background-color: $book-nixie;
}

.book-olga{
	background-color: $book-olga;
}

.book-willows{
	background-color: $book-willows;
}

.book-lucy{
	background-color: $book-lucy;
}

.book-winnie-alien{
	background-color: $book-winnie-alien;
}

.book-pugs{
	background-color: $book-pugs;
}

.book-nelly{
	background-color: $book-nelly;
}

.book-pippy{
	background-color: $book-pippy;
}

.book-cakes{
	background-color: $book-cakes;
}

.book-thirteen{
	background-color: $book-thirteen;
}

.book-tom{
	background-color: $book-tom;
}

.book-rising{
	background-color: $book-rising;
}

.book-heidi{
	background-color: $book-heidi;
}

.book-gorilla{
	background-color: $book-gorilla;
}

.book-best-story{
	background-color: $book-best-story;
}

.book-railhead{
	background-color: $book-railhead;
}

.book-angel{
	background-color: $book-angel;
}

.book-cowley{
	background-color: $book-cowley;
}

.book-hazel{
	background-color: $book-hazel;
}

.book-tomorrow{
	background-color: $book-tomorrow;
}