body {
    background-image: none;
    background-color: #B6E4E4;
    background: #B6E4E4 url(/images/backgrounds/snow-bg.png);
    background-attachment: fixed;
    background-opacity: 0.5;
    //animation: animatedBackground 200s linear infinite;
    // background: url(/images/backgrounds/background-footer.jpg) 0 0 no-repeat;
    &:after{
    	background: transparent url(/images/backgrounds/background-footer.jpg) 0 64px no-repeat;
      bottom: 0;
    content: " ";
    height: 310px;
    position: fixed;
    width: 100%;
    z-index: -1;
    }
 }

 #content{
 	padding: 0; //reset
 }

#header {
    height: 174px !important;
}

#main{
	background-color: white;
}

.dropdown-menu{
	box-shadow: none;
}

.tab-content h2 {
	color: black !important;
	margin: 20px 0 35px;
}

body #content .nav-tabs > li > a {
	background-color: $banner-bg-colour;
	border: 1px solid white;
	border-bottom: none;
	color: $nav-tab-colour;
	font-family: $font-stack;
	font-size: 23px;
	padding: 10px 44px;
	text-decoration: none;
	margin-right: 15px;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	font-weight: bold;
	&:hover{
		color: white;
	}
}

.nav-tabs{
	border-bottom: 0;
}

body #content .nav-tabs > li.active > a{
	background-color: $nav-tab-active-bg-colour;
	&:hover{
		color: $nav-tab-colour;
	}
}

section#body{
	padding-top: 0px;
	width: 100%;

}

.banner-top{
	background: $banner-bg-colour url(/images/backgrounds/banner-girl.jpg) 567px -203px no-repeat;
	height: 210px;
	padding: $page-margin;
	&:after{

	}
	h1, h2{
		color: $banner-text-colour;
		max-width: 600px;
	}
	h2{
		font-size: 21px;
		line-height: 1.5;
	}
	.snow{
		background: transparent url(/images/backgrounds/banner-snow.png) 0 0 no-repeat;
		    height: 289px;
    opacity: 0.25;
    position: absolute;
    width: 955px;
		animation: animatedBackground 50s linear infinite;
		margin: -$page-margin;
	}
}

body.fun-ideas .banner-top h1,
body.fun-ideas .banner-top h2{
	color: white;
}

.nav.nav-tabs {
    margin-top: -41px;
    position: relative;
}

.section-book{
	margin: 20px 0 40px 0;
	border-radius: $border-radius;
	h3{
		color: black;
	}
	p {
		font-size: 17px;
		line-height: 1.5;
		margin: 0 0 10px;
		color: black;
		&.lead{
			font-size: 20px;
			font-style: italic;
		}
		&.suitable{
			margin-top: 20px;
			float: left;
			span{
			    background-color: rgba(255, 255, 255, 0.12);
			    border-radius: 10px;
			    font-size: 15px;
			    line-height: 1.5;
			    padding: 4px 9px;
			}
		}


	}
}

#tabContent{
	padding: 0 $page-margin;
}

.book-green{
	background-color: $book-green;
}

.book-orange{
	background-color: $book-orange;
}

.book-pink{
	background-color: $book-pink;
}

.book-blue-light{
	background-color: $book-blue-light;
}

.book-yellow{
	background-color: $book-yellow;
}

.book-image{
	width: $book-image-width;
	img{
		width: 100%;
	}
}

.book-image,
.book-text{
	margin: 20px;
}

.book-text{
	width: 420px;
}

.book-left{
	.book-image{
		float: left;
	}
	.book-text{
		margin-right: 33px;
		float: right;
	}
}

.book-right{
	.book-image{
		float: right;
	}
	.book-text{
		margin-left: 33px;
		float: left;
	}
}

a.btn-gel{
	background-color: $button-gel-bg-colour;
	color: $button-gel-colour !important;
	padding: 10px 40px;
	margin: 10px 20px 0 0;
	border-radius: $border-radius;
	border: $button-gel-stroke;
	text-decoration: none;
	font-family: $font-stack;
	position: relative;
	float: left;
	font-size: 17px;
	line-height: 1.5;
	&:hover{
		background-color: $pink-gel;
		color: $button-gel-bg-colour;
	}
}

h3 {
	font-size: 23px;
	line-height: 1.5;
	margin-bottom: 16px;
}

@keyframes animatedBackground {
	from { background-position: 0 100%; }
	to { background-position: 0% 0%; }
}
