$blue-light: #4EC2C2;
$black: black;
$grey-gel: #232323;
$pink-gel: #cf1c6d;

$body-bg-colour: #BEE8EA;

$book-happy: #E0F2BA; //super-magic-happy-forest
$book-dog: #F8D9B6; //this-book-just-ate-my-dog
$book-winnie: #F8D3CC;//winnies-haunted-house
$book-wonderful: #D5EDF2;
$book-smile: #D6EAEE;
$book-nixie: #DBEDF2;
$book-olga: #EAE6CD;
$book-willows: #FFE3D7;
$book-lucy: #EBF2FF;
$book-winnie-alien: #E5FFB5;
$book-pugs: #D0EEED;
$book-nelly: #E7D8D6;
$book-pippy: #DBF1CE;
$book-cakes: #E5EAF4;
$book-thirteen: #EDEBDB;
$book-tom: #DFE4E7;
$book-rising: #C9EAE7;
$book-heidi: #E7F1F5;
$book-gorilla: #F7D0D3;
$book-best-story: #DEDEDE;
$book-railhead: #D5EEF2;
$book-angel: #FEEEF5;
$book-cowley: #E1E1E1;
$book-hazel: #DAEEDF;
$book-tomorrow: #EAF0F7;

$make-your-owm: $book-railhead;
$recipe: $book-happy;
$video: $book-winnie;

$book-image-width: 430px;

$border-radius: 20px;
$page-margin: 40px;

$button-gel-bg-colour: $grey-gel;
$button-gel-stroke: 3px;
$button-gel-stroke: 3px solid white;
$button-gel-colour: white;

$banner-bg-colour: $blue-light;
$banner-text-colour: white;

$font-stack: fs-lola-primary-web,sans-serif;
$p-size: 18px;

$nav-tab-colour: $grey-gel;
$nav-tab-active-bg-colour: white;