$blue-light: #4EC2C2;
$black: black;
$grey-gel: #232323;
$pink-gel: #cf1c6d;

$body-bg-colour: #BEE8EA;

$book-green: #9DD249; //super-magic-happy-forest
$book-orange: #ED9432; //this-book-just-ate-my-dog
$book-pink: #EE9280;//winnies-haunted-house
$book-blue-light: #67CFE8;
$book-image-width: 430px;
$book-yellow: #B1CAD0;
$book-nixie: #98CCDD;
$book-olga: #EAE6CD;
$book-willows: #E89572;
$book-lucy: #96ACD5;
$book-winnie-alien: #7ACB8B;

$border-radius: 20px;
$page-margin: 40px;

$button-gel-bg-colour: $grey-gel;
$button-gel-stroke: 3px;
$button-gel-stroke: 3px solid white;
$button-gel-colour: white;

$banner-bg-colour: $blue-light;
$banner-text-colour: white;

$font-stack: fs-lola-primary-web,sans-serif;
$p-size: 18px;

$nav-tab-colour: $grey-gel;
$nav-tab-active-bg-colour: white;